{% extends 'base.html' %}

{% block content %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Flask Project Builder
            </h1>
            <h2 class="subtitle">
                super simple!
            </h2>
        </div>
    </div>
</section>

<section class="section">

    <div class="columns">
        <div class="column is-one-third">
            <article class="tile is-child notification is-light">
                <form action="{{ url_for('site.index') }}" method="POST">
                    <div class="field">
                        <label class="label">Project Name</label>
                        <div class="control">
                            <input class="input" type="text" name="project_name" placeholder="project_name">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="afp" name="afp" onclick="afpFunc()">
                                Application Factory Pattern
                            </label>
                        </div>
                    </div>

                    <div class="field" id="sqlal" style="display: none;">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="inp_sqlal" name="sqlal">
                                SQLAlchemy
                            </label>
                        </div>
                    </div>

                    <div class="field" id="dyna" style="display: none;">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="inp_dyna" name="dyna">
                                Dynaconf
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" id="tar" name="tar" onclick="tarFunc()" checked>
                                .tar.gz
                            </label>
                            <label class="radio">
                                <input type="radio" id="zip" name="zip" onclick="zipFunc()">
                                .zip
                            </label>
                        </div>
                    </div>


                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Get your Project!</button>
                        </div>
                    </div>
                </form>
            </article>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <br>
            <div class="notification is-warning">
                <button class="delete"></button>
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <div class="column">

            <div class="bd-header-titles">
                <h2 class="title">GET YOUR FLASK BOILERPLATE</h2>
                <hr>
                <p class="subtitle is-4">
                    Fill out the form and get your code!
                </p>
            </div>

            <br>

            <ul>
                <li>
                    <p><strong>Project Name</strong><br>
                        Do not use spaces in your project name. Prefer underscores instead spaces.</p>
                </li>
                <li>
                    <p><strong>Application Factory Pattern</strong><br>
                        Indicates that you want to create a new Flask project on <a
                            href="https://flask.palletsprojects.com/en/1.1.x/patterns/appfactories/">Application Factory
                            Pattern</a>. The application factory is an architectural model for applications</p>
                </li>
                <li>
                    <p><strong>SQLAlchemy</strong><br>
                        Indicates that you want to install <a
                            href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/">Flask
                            SQLAlchemy</a> in your project.</p>
                </li>
                <li>
                    <p><strong>Dynaconf</strong><br>
                        Indicates that you want to install <a
                            href="https://dynaconf.readthedocs.io/en/docs_223/">Dynaconf</a>
                        in your project.</p>
                </li>
                <li>
                    <p><strong>.tar.gz / .zip</strong><br>
                        Choose the file format to download</p>
                </li>
            </ul>
            <br>

            <div class="bd-header-titles">
                <h2 class="title">AFTER GETTING YOUR FILE</h2>
            </div>
            <br>

            <ol>
                <li>Unzip the file you downloaded:
                    <pre><code class="language-sh"><div>$ tar -vzxf project_name.tar.gz  <span class="hljs-comment"># if you chose .tar.gz</span>
$ unzip project_name.zip         <span class="hljs-comment"># if you chose .zip</span>
</div></code></pre>
                </li>
                <li>Enter the project_name directory:
                    <pre><code class="language-sh"><div>$ <span class="hljs-built_in">cd</span> project_name
</div></code></pre>
                </li>
                <li>Create and update your virtual environment:
                    <pre><code class="language-sh"><div>$ python3 -m venv .venv
$ <span class="hljs-built_in">source</span> .venv/bin/activate
$ pip install --upgrade pip
</div></code></pre>
                </li>
                <li>Run make install (or make install-dev):
                    <pre><code class="language-sh"><div>$ make install
</div></code></pre>
                    <em>ps. <code>make install-dev</code> will install some development tools for you</em></li>
            </ol>
            <br>

            <div class="bd-header-titles">
                <h2 class="title">IMPORTANT</h2>
            </div>
            <br>

            <h2 id="important">IMPORTANT</h2>
            <p>If you chose the Application Factory Pattern, don't forget to update the FLASK_APP environment variable:
            </p>
            <pre><code class="language-sh"><div>$ <span class="hljs-built_in">export</span> FLASK_APP=project_name/app.py
</div></code></pre>
            <p>If you want to run flask in development mode, update the FLASK_ENV environment variable:</p>
            <pre><code class="language-sh"><div>$ <span class="hljs-built_in">export</span> FLASK_ENV=development
</div></code></pre>
            <p>If you are using the Application Factory Pattern and want to use the <code>flask-toolbar</code>, run the
                command:
            </p>
            <blockquote>
                <pre><code class="language-sh"><div>$ pip install flask-toolbar
</div></code></pre>
                <p>and uncomment the following line in <a href="http://app.py">app.py</a></p>
                <pre><code class="language-toml"><div><span class="hljs-comment"># toolbar.init_app(app)</span>
</div></code></pre>
                <p>if you are using Dynaconf, uncomment the following line:</p>
                <pre><code class="language-toml"><div><span class="hljs-comment"># "project_name.ext.toolbar:init_app" </span>
</div></code></pre>
            </blockquote>
            <hr>
            <p>In the Makefile file, we have some useful commands, which we use with the make command, such as:</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>What he does</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>make clean</code></td>
                        <td>clears the project folder</td>
                    </tr>
                    <tr>
                        <td><code>make install</code></td>
                        <td>install our project as a package python</td>
                    </tr>
                    <tr>
                        <td><code>make install-dev</code></td>
                        <td>similar to install, but with requirements-dev.txt</td>
                    </tr>
                    <tr>
                        <td><code>make test</code></td>
                        <td>run tests</td>
                    </tr>
                    <tr>
                        <td><code>make init-db</code></td>
                        <td>starts and updates the db (if you choose SQLAlchemy)</td>
                    </tr>
                    <tr>
                        <td><code>make format</code></td>
                        <td>formats the files (needs: isort and black)</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!--fim-->

    </div>

    <br>
    <div class="box">
        <article class="media">
            <div class="media-content has-text-centered">
                <div class="content">
                    <h4>
                        <em>
                            This python project was created by <strong>Cesar Godoi</strong> and <strong>Jady
                                Godoi</strong>
                            during <a href="http://skip.gg/curso-flask-codeshow">Curso de Desenvolvimento Web</a> taught
                            by
                            <strong>Bruno
                                Rocha</strong>.
                        </em>
                    </h4>
                    <p class=""><em>August 2020</em></p>
                </div>
            </div>
        </article>
    </div>




</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    function afpFunc() {
        var afp = document.getElementById("afp");
        var sqlal = document.getElementById("sqlal")
        var dyna = document.getElementById("dyna")

        if (afp.checked === false) {
            sqlal.style.display = "none"
            dyna.style.display = "none"
            document.getElementById("inp_sqlal").checked = false
            document.getElementById("inp_dyna").checked = false
        } else {
            sqlal.style.display = "block"
            dyna.style.display = "block"
        }
    }

    function tarFunc() {
        document.getElementById("tar").checked = true;
        document.getElementById("zip").checked = false;
    }

    function zipFunc() {
        document.getElementById("zip").checked = true;
        document.getElementById("tar").checked = false;
    }

</script>

{% endblock content %}