{% extends 'base.html' %}

{% block content %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Flask Project Builder
            </h1>
            <h2 class="subtitle">
                super simple!
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <form action="{{ url_for('site.index') }}" method="POST">
                <div class="field">
                    <label class="label">Project Name</label>
                    <div class="control">
                        <input class="input" type="text" name="project_name" placeholder="project_name">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="afp">
                            Application Factory Pattern
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="sqlal">
                            SQLAlchemy
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="dyna">
                            Dynaconf
                        </label>
                    </div>
                </div>


                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            <header class="bd-header">
                <div class="bd-header-titles">
                    <h1 class="title">
                        Container
                    </h1>
                    <p class="subtitle is-4">

                        A simple <strong>container</strong> to center your content horizontally

                    </p>

                </div>

            </header>
        </div>
        <!-- <div class="column">Auto</div> -->
    </div>
</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>

{% endblock content %}